<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetPasswordForm">
                            <!-- password -->
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input type="password" placeholder="Password" formControlName="password">
                                </div>
                                <small
                                *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')"
                                class="text-danger">New Password is required</small>
                                <br>
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                                </div>
                                <small
                                *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')"
                                class="text-danger">Confirm Password is required</small>
                                <small
                                *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')"
                                class="text-danger"
                                >Password doesn't match
                                </small>
                            </div>

                            <button type="submit" class="btn btn-primary btn-lock mt-4 w-100" (click)="reset()">Reset</button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>